{% extends "base.html.twig" %}

{% block title %}Gestion des Articles{% endblock %}

{% block body %}

<div class="text-center my-5">
    <h1 class="my-4">Gestion des Articles</h1>
    <div class="alert alert-info">💬 Vous trouverez ci-dessous le tableau contenant l'ensmble des articles du blog</div>

{% for message in app.flashes('success') %}
    <div class="col-md-5 mx-auto alert alert-success text-center">
        {{ message }}
    </div>
    {% endfor %}
<a href="{{ path('admin_new_article', ) }}" class="btn btn-primary mt-3">Créer un article</a>
</div>

<table class="table table-bordered table-striped table-hover text-center">
    <thead class="table-dark">
        <tr>
            {% for colonne in colonnes %}
                {% if colonne != 'id' %}
                    <th>{{ colonne }}</th>
                {% endif %}
            {% endfor %}
            <th>Voir</th>
            <th>editer</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.content | slice(0,200) | raw }}</td>
                <td><img src="{{ asset('images/articles/' ~ article.image) }}" alt="image de l'article" style="height: 120px; width: 120px; object-fit: contain;"></td>
                <td>{{ article.createdAt | date('d/m/Y à H:i:s')}}</td>
                <td>{{ article.updatedAt | date('d/m/Y à H:i:s')}}</td>
                <td><a href="{{ path('blog_show', {"id": article.id }) }}" class="btn btn-info"><i class="fa-solid fa-eye" aria-hidden="true"></i></a></td>
                <td><a href="{{ path('admin_edit_article', {"id": article.id }) }}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square" aria-hidden="true"></i></a></td>
                <td><a href="{{ path('admin_delete_article', {"id": article.id }) }}" class="btn btn-danger"><i class="fa-solid fa-trash-can" aria-hidden="true"></i></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}