{% extends "base.html.twig" %}

{% block title %}Gestion des Membres{% endblock %}

{% block body %}

<div class="text-center my-5">
    <h1 class="my-4">Gestion des Membres</h1>
    <div class="alert alert-info">💬 Vous trouverez ci-dessous le tableau contenant l'ensmble des membres du blog</div>

{% for message in app.flashes('success') %}
    <div class="col-md-5 mx-auto alert alert-success text-center">
        {{ message }}
    </div>
    {% endfor %}
{# <a href="{{ path('admin_new_users', ) }}" class="btn btn-primary mt-3">Créer un membre</a> #}
</div>

<table class="table table-bordered table-striped table-hover text-center">
    <thead class="table-dark">
        <tr>
            {% for colonne in colonnes %}
                {% if colonne != 'id' and colonne !='password' %}
                    <th>{{ colonne }}</th>
                {% endif %}
            {% endfor %}
            {# <th>Voir</th> #}
            <th>editer</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles | join(',') }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.ville }}</td>
                <td>{{ user.codePostal }}</td>
                {# <td><a href="{{ path('admin_users', {"id": user.id }) }}" class="btn btn-info"><i class="fa-solid fa-eye" aria-hidden="true"></i></a></td> #}
                <td><a href="{{ path('admin_edit_user', {"id": user.id }) }}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square" aria-hidden="true"></i></a></td>
                <td><a href="{{ path('admin_delete_user', {"id": user.id }) }}" class="btn btn-danger"><i class="fa-solid fa-trash-can" aria-hidden="true"></i></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}