{% extends "base.html.twig" %}

{% block body %}

<h1>
{% if editMode %}
    Modification d'une Categorie
{% else %}   
    Création d'une Categorie
{% endif %}
</h1>

{# {{ form(formCategory) }} #}
{{ form_start(formCategory, {
    attr : {
        novalidate: 'novalidate'
    }
}) }}

{# {{ form_widget(formCategorie.title) }}
{{ form_widget(formCategorie.content) }}
{{ form_widget(formCategorie.image) }} #}

{{ form_row(formCategory.title, {
    label :"Titre",
    attr: {
        placeholder: "Titre de la Categorie"
    }
    }) }}
     {{ form_row(formCategory.description, {'attr':{'placeholder': "description de la Categorie"}}) }}

     <button type="submit" class="btn btn-primary mt-2">
     
     {% if editMode %}
     💾 Enregistrer les modifications
     {% else %}
     ✅ Ajouter la Categorie
{% endif %}
</button>
{{ form_end(formCategory) }}

{% endblock %}